<div>
  <mat-select placeholder="Countries" [(ngModel)]="geo.pais">
    <mat-option [value]="'Perú'" (click)="selectCountry(geo.pais)">
      Perú
    </mat-option>
  </mat-select>
  <mat-select placeholder="Region" [(ngModel)]="geo.departamento">
    <mat-option (click)="selectedRegion(region)" *ngFor="let region of regions" [value]="region">
      {{ region.nombre || uppercase }}
    </mat-option>
  </mat-select>
  <mat-select placeholder="Cities" [(ngModel)]="geo.provincia">
    <mat-option (click)="selectedDistrict(city)" *ngFor="let city of cities" [value]="city">
      {{ city.nombre || uppercase }}
    </mat-option>
  </mat-select>
  <mat-select placeholder="Disctric" [(ngModel)]="geo.distrito">
    <mat-option *ngFor="let distric of districs" [value]="distric">
      {{ distric.nombre || uppercase }}
    </mat-option>
  </mat-select>
</div>

<button mat-raised-button color="warn" (click)="generate(geo)">Pronostico</button>
<div *ngIf="forecast.item.forecast.length > 0">
  <h3>{{geo.distrito.nombre}} - {{geo.provincia.nombre}} - {{geo.departamento.nombre}}, {{geo.pais}}</h3>
  <br>
  <div>
    <span>Astronomia</span><br>
    <span>Amanecer:{{forecast.astronomy.sunrise}}</span>
    <span>Puesta de Sol:{{forecast.astronomy.sunset}}</span>
  </div>
  <br>
  <div>
    <span>Atmosfera</span>
    <br>
    <span>Humedad:{{forecast.atmosphere.humidity}}</span>
    <span>presion:{{forecast.atmosphere.pressure}}{{forecast.units.pressure}}</span>
    <span>creciente:{{forecast.atmosphere.rising}}</span>
    <span>visibility:{{forecast.atmosphere.visibility}}</span>
  </div>
  <!-- <br>
  <div>
    <span>Unidades</span>
    <br>
    <span>distancia:{{forecast.units.distance}}</span>
    <span>presion:{{forecast.units.pressure}}</span>
    <span>velocidad:{{forecast.units.speed}}</span>
    <span>temperatura:{{forecast.units.temperature}}</span>
  </div> -->
  <br>
  <div>
    <span>Viento</span>
    <br>
    <span>Frio:{{forecast.wind.chill}}{{forecast.units.temperature}}</span>
    <span>direccion:{{forecast.wind.direction}}{{forecast.units.distance}}</span>
    <span>velocidad:{{forecast.wind.speed}}{{forecast.units.speed}}</span>
  </div>
  <br>
  <span>{{forecast.title}} - {{forecast.lastBuildDate}}</span>
  <br>
  <table style="width:100%" >
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>High</th>
      <th>Low</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let item of forecast.item.forecast">
      <td>{{item.date}}</td>
      <td>{{item.day}}</td>
      <td>{{item.high}}</td>
      <td>{{item.low}}</td>
      <td>{{item.text}}</td>
    </tr>
  </table>
  <div><a href="{{forecast.image.link}}">{{forecast.image.title}}</a><img src="{{forecast.image.url}}" alt="{{forecast.image.title}}"></div>
</div>

